html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f1f5f8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 80vw;
  margin: 5rem auto 0;
  height: 500px;
}
section {
  margin: 0 auto;
  /* height: 600px; */
  max-width: 800px;
  /* text-align: center; */
  /* position: relative; */
  /* overflow: hidden; */
  position: relative;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
}

.heading h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #324d67;
}

.heading span {
  color: #ba5d2c;
}

.cards-container {
  margin: 3rem auto 0;
  display: flex;
  margin: 3rem auto 0;
  height: 500px;
  max-width: 800px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  text-align: center;
  margin: 1rem 0;
  opacity: 0;
  transition: all 0.3s linear;
}

.cards img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #bcccdc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin: 0 0 1rem;
}

.cards h3 {
  text-transform: uppercase;
  color: #ba5d2c;
  margin-bottom: 0.25;
}

.quote-text {
  margin: 2rem auto 0;
  color: #617d98;
  line-height: 2;
  word-wrap: break-word;
}

.title {
  text-transform: capitalize;
  color: #324d67;
  margin-bottom: 0.75rem;
}

.quote-icon {
  color: #ba5d2c;
  font-size: 3rem;
  margin-top: 1rem;
}

.arrow {
  width: 2rem;
  height: 2rem;
  position: absolute;
  background: #617d98;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 200px;
  color: #f1f5f8;
  transition: all 0.3s;
}

.arrow:hover {
  background-color: #ba5d2c;
  color: #f1f5f8;
}

.arrow:active {
  transform: scale(105%);
}

.left {
  left: -15px;
}

.right {
  right: -15px;
}

.next {
  transform: translateX(100%);
}

.previous {
  transform: translateX(-100%);
}

.current {
  opacity: 1;
  transform: translateX(0);
}
